* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: "Rubik", sans-serif;
}

:root {
  --softBlue: hsl(231, 69%, 60%);
  --softreed: hsl(0, 94%, 66%);
  --grayishBlue: hsl(229, 8%, 60%);
  --veryDarkBlue: hsl(229, 31%, 21%);
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}
