.container {
  margin: 3em 0 1em 0;
}

.titel {
  margin: 1em 0;
}
.text {
  color: var(--grayishBlue);
  margin: 0 1.5em;
  line-height: 1.4;
}

.list {
  margin: 1em 1.5em;
  border-top: 1px solid rgba(78, 20, 20, 0.199);
}

.list li {
  border-bottom: 1px solid rgba(78, 20, 20, 0.199);
  margin: 1em 0;
  padding-bottom: 1em;
}

.features {
  color: rebeccapurple;
  font-size: 1.1rem;
  text-transform: none;
}
/*aux*/

.border {
  color: rebeccapurple;
  padding-bottom: 0.8em;
  font-size: 1.1rem;
  text-transform: none;
  border-bottom: 3px solid red;
}

/*media queries*/
@media (max-width: 426px) {
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
  .text {
    max-width: 47%;
    margin: 0 auto;
  }
  .list {
    display: flex;
    border: none;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 6em;
  }
  .list li {
    margin: 0 3em;
  }
}
