.header-container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-img {
  position: sticky;
  margin: 2em 2em;
}
.menu-container {
  display: flex;
  margin: 0 1em;
  align-items: center;
}
.header-menu__text {
  display: flex;
  margin: 0 2em;
}
.header-menu {
  position: sticky;
  margin: 2em 2em;
}
.header-menu__text a {
  color: black;
  margin: 0 1em;
  font-size: 1rem;
}
.header-menu__text a:focus,
.header-menu__text a:hover {
  color: var(--softreed);
}
.header-menu__btn {
  margin: 0 2em;
  padding: 0.5em 2em;
  background: transparent;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid black;
}
.header-menu__btn:focus,
.header-menu__btn:hover {
  border: 1px solid var(--softreed);
  color: var(--softreed);
}
/*aux classes*/
.invisible {
  display: none;
}
.margin-bottom {
  margin-bottom: 9.5em;
}

/*media queries*/
@media (max-width: 426px) {
  .menu-container {
    display: none;
  }
}

@media (min-width: 426px) {
  .header-menu {
    display: none;
  }
  @media (min-width: 1024px) {
    .header-menu__btn:focus,
    .header-menu__btn:hover {
      background: var(--softreed);
      color: white;
    }
    .header-container {
      justify-content: space-evenly;
    }
  }
}
